<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Room</title>
    <script>
        function updateMaxGuests() {
            const roomType = document.getElementById("room_type").value;
            const maxGuestsInput = document.getElementById("max_guests");

            if (roomType === "Standard") {
                maxGuestsInput.value = 1;
            } else if (roomType === "Double") {
                maxGuestsInput.value = 2;
            } else if (roomType === "Family") {
                maxGuestsInput.value = 4;
            } else if (roomType === "Executive") {
                maxGuestsInput.value = 5;
            } else {
                maxGuestsInput.value = '';
            }
        }
    </script>
</head>
<body>
    <h2>Add a New Room</h2>
    <form method="post" action="{{ url_for('add_room') }}">
        <label for="hotel_id">Hotel:</label>
        <select id="hotel_id" name="hotel_id" required>
            {% for hotel in hotels %}
                <option value="{{ hotel['hotel_id'] }}">{{ hotel['name'] }}</option>
            {% endfor %}
        </select><br>
        <label for="room_type">Room Type:</label>
        <select id="room_type" name="room_type" required required onchange="updateMaxGuests()">
                <option>Standard</option>
                <option>Double</option>
                <option>Family</option>
                <option>Executive</option>
        </select><br>
        <label for="features">Features:</label>
        <input type="text" id="features" name="features" required><br>
        <label for="status">Status:</label>
        <input type="text" id="status" name="status" required><br>
        <label for="max_guests">Maximum number of guests:</label>
        <input type="number" id="max_guests" name="max_guests" required readonly><br>
        <button type="submit">Add Room</button>
    </form>
</body>
</html>
