<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Room</title>
</head>
<body>
    <h1>Book Room at {{ hotel.name }}</h1>
    <form method="post">
        <label for="room">Room:</label>
        <select id="room" name="room">
            {% for room in rooms %}
                <option value="{{ room['room_id'] }}">{{ room['features'] }} - £{{ room['price'] }}</option>
            {% endfor %}
        </select><br>
        <label for="check_in_date">Check-in Date:</label>
        <input type="date" name="check_in_date" id="check_in_date" required><br>
        
        <label for="check_out_date">Check-out Date:</label>
        <input type="date" name="check_out_date" id="check_out_date" required><br>
        
        <button type="submit">Book Room</button>
    </form>
</body>
</html>
