<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WH Booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to WH Booking!</h1>
        <a href="/login" class="hover-link">
        <h2>Please register and login to start booking!</h2>
        </a>
    </div> 
    <br>       
        <!-- Search form -->
        <form method="GET" action="{{ url_for('hotels') }}">
            <input type="text" name="city" placeholder="Search by city" value="{{ request.args.get('city', '') }}">
            <button type="submit">Search</button>
        </form>
        <!-- Hotels list -->
        <ul>
            {% for hotel in hotels %}
                <li><a href="{{ url_for('hotel_details', hotel_id=hotel['hotel_id']) }}">{{ hotel['name'] }}, {{ hotel['city'] }}</a></li>
            {% endfor %}
        </ul>
    <div class="container-pictures">
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/aberdeen.jpg" alt="Aberdeen">
            <div class="overlay">Aberdeen</div>
        </div>
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/Belfast.jpg" alt="Belfast">
            <div class="overlay">Belfast</div>
        </div>        
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/Birmingham.jpg" alt="Birmingham">
            <div class="overlay">Birmingham</div>
        </div>        
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/Bristol.jpg" alt="Bristol">
            <div class="overlay">Bristol</div>
        </div>        
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/Cardiff.jpg" alt="Cardiff">
            <div class="overlay">Cardiff</div>
        </div>             
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/Edinburgh.jpg" alt="Edinburgh">
            <div class="overlay">Edinburgh</div>
        </div>        
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/Glasgow.jpg" alt="Glasgow">
            <div class="overlay">Glasgow</div>
        </div>        
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/London.jpg" alt="London">
            <div class="overlay">London</div>
        </div>        
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/Manchester.jpg" alt="Manchester">
            <div class="overlay">Manchester</div>
        </div>        
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/New Castle.jpg" alt="New Castle">
            <div class="overlay">New Castle</div>
        </div>        
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/Norwich.jpg" alt="Norwich">
            <div class="overlay">Norwich</div>
        </div>        
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/Nottingham.jpg" alt="Nottingham">
            <div class="overlay">Nottingham</div>
        </div>        
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/Oxford.jpg" alt="Oxford">
            <div class="overlay">Oxford</div>
        </div>        
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/Plymouth.jpg" alt="Plymouth">
            <div class="overlay">Plymouth</div>
        </div>        
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/Swansea.jpg" alt="Swansea">
            <div class="overlay">Swansea</div>
        </div>        
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/Bournemouth.jpg" alt="Bournemouth">
            <div class="overlay">Bournemouth</div>
        </div>        
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/Kent.jpg" alt="Kent">
            <div class="overlay">Kent</div>
        </div>
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/Dundee.jpg" alt="Dundee">
            <div class="overlay">Dundee</div>
        </div>        
        <div class="city" onclick="location.href='/login'">
            <img src="static/images/Sheffield.jpg" alt="Sheffield">
            <div class="overlay">Sheffield</div>
        </div>
    </div>
</body>
</html>
