<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotels</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
</head>
<body>
    <div class="container">
        <h2>List of Hotels to book in</h2>
        
        <!-- Search form -->
        <form method="GET" action="{{ url_for('hotels') }}">
            <input type="text" name="city" placeholder="Search by city" value="{{ request.args.get('city', '') }}">
            <button type="submit">Search</button>
        </form>
        <!-- Hotels list -->
        <ul>
            {% for hotel in hotels %}
                <li><a href="{{ url_for('hotel_details', hotel_id=hotel['hotel_id']) }}">{{ hotel['name'] }}, {{ hotel['city'] }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
