<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Hotel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
</head>
<body>
    <div class="container">
    <h3>Modify Hotel Data</h3>
    <form method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ hotel['name'] }}" required>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" value="{{ hotel['city'] }}" required>

        <label for="capacity">Capacity:</label>
        <input type="number" id="capacity" name="capacity" value="{{ hotel['capacity'] }}" required>

        <label for="off_peak_price">Off Peak Season Price:</label>
        <input type="number" id="off_peak_price" name="off_peak_price" step="0.01" value="{{ hotel['off_peak_price'] }}" required>

        <label for="peak_price">Peak Season Price:</label>
        <input type="number" id="peak_price" name="peak_price" step="0.01" value="{{ hotel['peak_price'] }}" required><br>

        <button type="submit">Update Hotel</button>
    </form>
    </div>
</body>
</html>
