<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bookings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/my_bookings.css') }}">
</head>
<body>
    <div class="container">
        <h1>My Bookings</h1>
        {% if bookings %}
            <ul>
                {% for booking in bookings %}
                    <li>
                        Booking ID: {{ booking.booking_id }} | Room ID: {{ booking.room_id }} | Check-in: {{ booking.check_in_date }} | Check-out: {{ booking.check_out_date }} | Status: {{ booking.status }}
                        {% if booking.status == 'booked' %}
                            <form action="{{ url_for('cancel_booking', booking_id=booking.booking_id) }}" method="post">
                                <button type="submit" class="cancel-btn">Cancel Booking</button>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No bookings found.</p>
        {% endif %}
        <p><i>Please be aware that after 3 hours of cancelling, the cancelled bookings will dissappear from your list. Thank you!</i></p>
    </div>
</body>
</html>
