<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./styles/profile.css') }}">
</head>
<body>
    <div>
        <header class="container">
            <h1>My Profile</h1>
        </header>
            <div class="container" class="profile-info">
                <p><strong>Username:</strong> {{ account['username'] }}</p>
                <p><strong>Email:</strong> {{ account['email'] }}</p>
            </div>
            <div class="container" class="profile-actions">
                <a href="{{ url_for('my_bookings') }}" class="btn">My Bookings</a>
                <a href="{{ url_for('update_password') }}" class="btn">Update Password</a>
                <a href="{{ url_for('logout') }}" class="btn btn-outline">Logout</a>
            </div>
    </div>
</body>
</html>
