<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Passowrd</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
</head>
<body>
    <div class="container">
    <h2>Update Password</h2>
    <form method="post" action="{{ url_for('update_password') }}">
        <label for="old_password">Old Password:</label>
        <div class="password-container">
            <input type="password" id="old_password" name="password" required>
            <span class="toggle-password" onclick="togglePasswordVisibility()">👁️</span>
        </div><br>
        <label for="new_password">New Password:</label>
        <div class="password-container">
            <input type="password" id="new_password" name="password" required>
            <span class="toggle-password" onclick="togglePasswordVisibility()">👁️</span>
        </div><br>
        <button type="submit">Update Password</button>
    </form>
    <p>{{ msg }}</p>
    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("password");
            if (passwordField.type === "password") {
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        }
    </script>
</div>
</body>
</html>
