<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
    <link rel="stylesheet" href="/static/styles/form.css">
    <script>
        function togglePasswordVisibility() {
            var newPasswordField = document.getElementById("new_password");
            if (newPasswordField.type === "password") {
                newPasswordField.type = "text";
            } else {
                newPasswordField.type = "password";
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h2>Update Password</h2>
        <form method="post" action="/update_password">
            <label for="old_password">Old Password:</label>
            <div class="password-container">
                <input type="password" id="old_password" name="old_password" required>
            </div><br>
            <label for="new_password">New Password:</label>
            <div class="password-container">
                <input type="password" id="new_password" name="new_password" required>
                <span class="toggle-password" onclick="togglePasswordVisibility()">👁️</span>
            </div><br>
            <button type="submit">Update Password</button>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        </form>
    </div>
</body>
</html>
